[*.cs]

# CS8625: Литерал, равный NULL, не может быть преобразован в ссылочный тип, не допускающий значение NULL.
dotnet_diagnostic.CS8625.severity = none

# CS8602: Разыменование вероятной пустой ссылки.
dotnet_diagnostic.CS8602.severity = none

# CS8604: Возможно, аргумент-ссылка, допускающий значение NULL.
dotnet_diagnostic.CS8604.severity = none

# CS8603: Возможно, возврат ссылки, допускающей значение NULL.
dotnet_diagnostic.CS8603.severity = none
